<!Doctype HTML>
<html>
<head>
    <!-- CSS only -->
    <link rel="stylesheet" href="css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="heading">
        <H1 class="text-muted text-center h1"> Web Player Demo </H1>
    </div>
    
    <div class="container container-table justify-content-center">
        <div class="row vertical-center-row justify-content-center videoWrapper">
            <video id="player" controls autoplay='true' muted='muted' controls></video>
        </div>
    </div>
    <script type="module" src="js/script.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
